* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    gap: 15px;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    padding: 0px 20px;
}

ul li {
    list-style-type: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 358px;
}

ul li p {
    padding: 6px 0px;
}

li button {
    color: white;
    padding: 6px 13px;
    outline: none;
    border: none;
}

li .btn1 {
    background-color: blue;
}

li .btn2 {
    background-color: red;
    margin-left: 6px;
}

/* form  */

.from-container {
    display: flex;
    justify-content: center;
    max-width: 750px;
    margin: auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0px 20px;
}

.from-container #title,
#body {
    padding: 15px 12px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.from-container button {
    padding: 12px 16px;
    width: 100px;
    background-color: blue;
    color: white;
}


input,
button {
    outline: none;
    border: none;
}

li {
    width: 100%;
}

@media(max-width:790px) {
    .from-container {
        flex-direction: column;
    }

    .from-container .input1,
    .input2,
    .btn {
        width: 100%;
    }

    .from-container #title,
    #body {
        width: 100%;
    }

    .from-container button {
        width: 100%;
    }

    ul li {
        max-width:790px;
    }
}